/* чтобы все работало */
.main {
  display: flex;
}



nav {
    margin: 0;
    padding: 20px 20px 20px 20px;
    text-align: center;
}


/* собственно наш объект */
.userHtml {
    background-color: #85a2ec;
    width: 500px;
    height: 500px;

}




/* Задаем размер  и позицию иконок для живой стены */
.air {
  height: 150px;
  position: absolute;
}


/* задаем положение каждой иконки */
.num1{
  left: 150vh;
  top: 20vh;
}
.num2{
  left: 120vh;
  top: 20vh;
}
.num3{
  left: 150vh;
  top: 50vh;
}
.num4{
  left: 120vh;
  top: 50vh;
}


.footer {
  top: -1000px;
  left: 20%;
  position: fixed;
}

footer span {
  font-size: 90px;
}


.text {
  padding: 30vh 10vh 10vh 10vh;
}
